

@section scripts {

    <script type="text/javascript">

        function päivitäProjektilistaus() {
            $.getJSON("/projekti/getlist/", null, function (json) {
                var projektit = JSON.parse(json);

                var html = "";
                for (var index = 0; index < projektit.length; index++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil' ></span ></a ></td > " +
                        "<td>" + projektit[index].ProjektiID + "</td>" +
                        "<td>" + projektit[index].Projektinimi + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash' ></span ></a ></td > " +
                        "</tr>\r\n";
                }

                $("#projektiList tbody").html(html);

                $(".glyphicon-pencil").click(function () {

                    var projektiId = $(this).parent().parent().next().text();

                    $.getJSON("/projekti/getsingleprojekti/" + projektiId, null, function (json2) {
                        var projekti = JSON.parse(json2);
                        
                        // kopioidaan tiedot ikkunaan
                        $("#projektiModal_ProjektiID").val(projekti.ProjektiID);
                        $("#projektiModal_Projektinimi").val(projekti.Projektinimi);

                        // näytetään ikkuna
                        $("#projektiModalTitle").text("Muokkaa projektia");
                        $("#projektiModalDialog").modal("show");

                    });
                });

                $(".glyphicon-trash").click(function () {

                    console.log("Poistoa klikattu");
                    var projektiID = $(this).parent().parent().prev().prev().text();
                    var ok = confirm("haluatko varmasti poistaa projektitiedot " + projektiID + "?");

                    if (ok == true) {
                        $.getJSON("/projekti/delete/" + projektiID, null, function (status) {
                            if (status == true) {
                                alert("Projektitiedot on poistettu!");
                                päivitäProjektilistaus();
                            }
                            else {
                                alert("poistaminen ei onnistunut, tarkista tiedot!");

                            }
                        });
                    }
                });
            });
        }
        $(function () {
            päivitäProjektilistaus();

            $("#lisaaUusiProjektiButton").click(function () {

                $("#projektiModal_ProjektiID").val(("uusi"));
                $("#projektiModal_Projektinimi").val("");

                $("#projektiModalTitle").text("Lisää uusi projekti");
                $("#projektiModalDialog").modal("show");
            });

            $("#projektiModalSaveButton").click(function () {

                var details = {
                    ProjektiID: $("#projektiModal_ProjektiID").val(),
                    Projektinimi: $("#projektiModal_Projektinimi").val(),
                };

                $.post("/projekti/update/", details, function (status) {
                    if (status == true) {
                        alert("Tiedot tallennettu!");
                        $("#projektiModalDialog").modal("hide");
                        päivitäProjektilistaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, tarkista uudelleen!");
                    }

                });

            });

            console.log("Alustus valmis!");
        });
    </script>


}
<h2>Projektit</h2>
<button class="btn btn-primary" id="lisaaUusiProjektiButton">Lisää uusi</button>

<table class="table table-striped" id="projektiList">

    <thead>
        <tr>
            <th></th>
            <th>ProjektiID</th>
            <th>Projektinimi</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="projektiModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="projektiModalTitle">Muokkaa projektia</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Projekti-id</div>
                    <div class="col-md-6"><input class="form-control" id="projektiModal_ProjektiID" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Projektinimi</div>
                    <div class="col-md-6"><input class="form-control" id="projektiModal_Projektinimi" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                <button type="button" class="btn btn-success" id="projektiModalSaveButton">Tallenna</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->