

@section scripts {

    <script type="text/javascript">

        function päivitäTuntilistaus() {
            $.getJSON("/tunnit/getlist/", null, function (json) {
                var tunnit = JSON.parse(json);

                var html = "";
                for (var index = 0; index < tunnit.length; index++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil' ></span ></a ></td > " +
                        "<td>" + tunnit[index].TuntiID + "</td>" +
                        "<td>" + tunnit[index].ProjektiID + "</td>" +
                        "<td>" + tunnit[index].HenkiloID + "</td>" +
                        "<td>" + tunnit[index].Pvm + "</td>" +
                        "<td>" + tunnit[index].Projektitunnit + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash' ></span ></a ></td > " +
                        "</tr>\r\n";
                }

                $("#tuntiList tbody").html(html);

                $(".glyphicon-pencil").click(function () {

                    var tuntiId = $(this).parent().parent().next().text();

                    $.getJSON("/tunnit/getsingletunti/" + tuntiId, null, function (json2) {
                        var tunti = JSON.parse(json2);

                        // kopioidaan tiedot ikkunaan
                        $("#tuntiModal_TuntiID").val(tunti.TuntiID);
                        $("#tuntiModal_ProjektiID").val(tunti.ProjektiID);
                        $("#tuntiModal_HenkiloID").val(tunti.HenkiloID);
                        $("#tuntiModal_Pvm").val(tunti.Pvm);
                        $("#tuntiModal_Projektitunnit").val(tunti.Projektitunnit);

                        // näytetään ikkuna
                        $("#tuntiModalTitle").text("Muokkaa tunteja");
                        $("#tuntiModalDialog").modal("show");

                    });
                });

                $(".glyphicon-trash").click(function () {

                    console.log("Poistoa klikattu");
                    var tuntiID = $(this).parent().parent().prev().prev().prev().prev().prev().text();
                    var ok = confirm("haluatko varmasti poistaa projektitiedot " + tuntiID + "?");

                    if (ok == true) {
                        $.getJSON("/tunnit/delete/" + tuntiID, null, function (status) {
                            if (status == true) {
                                alert("Tuntitiedot on poistettu!");
                                päivitäTuntilistaus();
                            }
                            else {
                                alert("poistaminen ei onnistunut, tarkista tiedot!");

                            }
                        });
                    }
                });
            });
        }
        $(function () {
            päivitäTuntilistaus();

            $("#lisaaUusiTuntiButton").click(function () {

                $("#tuntiModal_TuntiID").val(("uusi"));
                $("#tuntiModal_ProjektiID").val("");
                $("#tuntiModal_HenkiloID").val("");
                $("#tuntiModal_Pvm").val("");
                $("#tuntiModal_Projektitunnit").val("");

                $("#tuntiModalTitle").text("Lisää uudet tunnit");
                $("#tuntiModalDialog").modal("show");
            });

            $("#tuntiModalSaveButton").click(function () {

                var details = {
                    TuntiID: $("#tuntiModal_TuntiID").val(),
                    ProjektiID: $("#tuntiModal_ProjektiID").val(),
                    HenkiloID: $("#tuntiModal_HenkiloID").val(),
                    Pvm: $("#tuntiModal_Pvm").val(),
                    Projektitunnit: $("#tuntiModal_Projektitunnit").val(),
                };

                $.post("/tunnit/update/", details, function (status) {
                    if (status == true) {
                        alert("Tiedot tallennettu!");
                        $("#tuntiModalDialog").modal("hide");
                        päivitäTuntilistaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, tarkista uudelleen!");
                    }

                });

            });

            console.log("Alustus valmis!");
        });
    </script>


}
    <h1>
        <div>
            @Html.ActionLink("Kotisivulle", "Index", "Home")
        </div>
    </h1>
<h2>Tunnit</h2>
<button class="btn btn-success" id="lisaaUusiTuntiButton">Lisää uusi</button>

<table class="table table-striped" id="tuntiList">

    <thead>
        <tr>
            <th></th>
            <th>TuntiID</th>
            <th>ProjektiID</th>
            <th>HenkiloID</th>
            <th>Pvm</th>
            <th>Projektitunnit</th>
        </tr>
    </thead>
    <tbody></body>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="tuntiModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="tuntiModalTitle">Muokkaa projektia</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">TuntiId</div>
                    <div class="col-md-6"><input class="form-control" id="tuntiModal_TuntiID" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">ProjektiId</div>
                    <div class="col-md-6"><input class="form-control" id="tuntiModal_ProjektiID" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">HenkiloId</div>
                    <div class="col-md-6"><input class="form-control" id="tuntiModal_HenkiloID" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Pvm</div>
                    <div class="col-md-6"><input class="form-control" id="tuntiModal_Pvm" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Projektitunnit</div>
                    <div class="col-md-6"><input class="form-control" id="tuntiModal_Projektitunnit" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                <button type="button" class="btn btn-success" id="tuntiModalSaveButton">Tallenna</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->